* {
	margin: 0;
	padding: 0;
}

body {
	font-family: tahoma;
}
header {
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/meetings-hero.jpg);
	position: relative;
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.hero {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;

}
.row {
	max-width: 1140px;
	margin: 0 auto;
}
.main-nav {
	list-style-type: none;
	text-transform: uppercase;
	float: right;
	margin-top: 50px;
}
.main-nav li {
	display: inline-block;
	margin-left: 20px;
}
.main-nav li a {
	text-decoration: none;
	color: white;
	font-size: 90%;
	font-weight: bold;
}
.main-nav li a:hover {
	color: #e67e22;
	border-bottom: 2px solid #e67e22;
    transition: all 0.5s ease-in;
    padding-bottom: 15px;
}
.logo img {
	width: 100px;
	float: left;
	margin-top: 30px;
	margin-left: 30px;
}
.button-awesome {
	margin-top: 40px;
}
.button-awesome .btn {
	color: #e67e22;
	padding: 10px 30px;
	text-decoration: none;
	border: 1px solid#e67e22;
	border-radius: 12px;
	margin-right: 15px;

}

.button-awesome .btn-full {
	background: #e67e22;
	color: #fff;
}
.button-awesome .btn-half:hover {
	background: #e67e22;
	color: #fff;
	transition: all 0.5s ease-in;
}
h3::after {
	width: 100px;
	height: 2px;
	background: #e67e22;
	content: " ";
	margin: 0 auto;
	display: block;
	margin-top: 30px;
}

.features h3 {
	text-transform: uppercase;
	margin-top: 80px;
	margin-bottom: 30px;
}
.copy {
	width: 70%;
	margin-left: 15%;
}

.features span {
	font-size: 50px;
	color: #e67e22;
	text-align: center;
	margin: 15px auto;
}
.meal-showcase {
	list-style-type: none;
	width: 100%;
	    clear: left;
    overflow: hidden;
}
.meal-showcase li {
	display: block;
	float: left;
	width: 25%;
}
.meal-photo {
	width: 100%;
	margin: 0;
	overflow: hidden;
}
.meal-photo img {
	width: 100%;
	height: 237px;
	transform: scale(1.15);
	transition: all 0.5s;
}
.meal-photo img:hover {
	transform: scale(1.05);
}
.meal {
	margin-top: 60px;
}

.mobile {
	margin-top: 60px
}
.mobile h3 {
	text-align: center;
	margin-bottom: 30px;
	text-transform: uppercase;
}
.img_sec img {
   width: 50%;
   margin-left: 30%;
   margin-top: 50px;
}
.work-step {
	margin-top: 50px;
}
.number {
	display: inline-block;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	border: 1px solid #e67e22;
	border-radius: 50%;
}

.work-step a img {
	height: 40px;
	margin-top: 20px;
	margin-right: 20px;

}

.cities {
	margin: 60px auto;
}
.cities img {
	width: 100%;
	height: 205px;
	margin-top: 50px;
	margin-bottom: 35px;
}
.cities span {
	color: #e67e22;
	margin-right: 5px;
}

.testimonial {
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/meetings-hero.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding: 60px 0;
	color: #fff;
	margin-bottom: 40px;
}
cite img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-right: 10px;
}
.testimonial blockquote {
	border-left: 0;
	margin: 0;
	padding: 0;
	font-size: 14px;
}
.testimonial blockquote p {
	line-height: 23px;
	margin-top: 30px;
	text-align: justify;
}
.btn-block {
	background-color: #e67e22;
	color: #fff;
	border-radius: 4px;
	margin-top: 20px;
}

.form_fiil_up_sec {
	margin: 50px auto;
}

.comment_sec {
	margin: 50px auto;
}


footer {
    background: #333;
    padding: 10px 50px 10px 50px;
}
footer p {
    color: #94929b;
    line-height: 23px;
    font-size: 12px;
    display: inline;
}
footer p a {
    color: #62be1e;
}
footer p a:hover {
    text-decoration: none;
    color: #fff;
}
footer ul {
	margin: 0;
}
footer ul li {
    float: left;
    margin-left: 15px;
}
footer ul li a span {
    color: #94929b;
}
footer ul li a:hover span {
    color: #fff;
}




